<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Favourites Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <!-- Header styles -->
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <!-- Page styles -->
    <link rel="stylesheet" href="/styles/favourite.css" type="text/css" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  </head>

  <body>
    <header id="header"><%-include('partials/_header') %></header>
    <main id="main">
      <h1 id = "favorite-header"> The Best from the Rest</h1>
  <div class="row row-cols-1 row-cols-md-3 g-4">
      <% for(const favorite in favorites) { %>
        <div class="card-deck col-4">
          <div class="card">
            <img class="card-img-top" src="<%= favorites[favorite].image_url %>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= favorites[favorite].name %></h5>
              <p class="card-text"><%= favorites[favorite].description %></p>
              <p class="card-text"><%= favorites[favorite].city %></p>
              <p id= "price" class="card-text">$<%= favorites[favorite].cost %></p>


              <p class="card-text text-muted">Bath: <%= favorites[favorite].number_of_bathrooms%>  <span class="text-muted">Bed: <%= favorites[favorite].number_of_bedrooms%></span></p>
            </div>
          </div>

            <div class="card-text d-flex justify-content-between">
            </div>
          </div>
        <% } %>
        </div>
      </main>

    <!-- Scripts -->
    <script src="../public/app.js"></script>
    <!-- Bootstrap Script -->
  </body>
</html>
